@using HGShare.Site
@model HGShare.BBS.Models.UserEntity
@{
    ViewBag.Title = "账号设置";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string userPositionsCodes =Model.UserPositions==null?"":"'"+string.Join("','",Model.UserPositions.OrderBy(n=>n.Code).Select(n=>n.Code).ToArray())+"'";
}

<div class="main layui-clear" style="min-height: 600px;">
    <h2 class="page-title">帐号设置</h2>
    <div class="fly-tab user-tab">
        <span id="LAY-mine">
            <a href="javascript:;" class="tab-this" hash="tab-info">我的资料</a>
            <a href="javascript:;" hash="avatar">头像</a>
            <a href="javascript:;" hash="pass">密码</a>
            @*<a href="javascript:;" hash="bind">帐号绑定</a>*@
        </span>
    </div>

    <div class="user-mine">
        
        <div class="layui-form layui-form-pane mine-view" style="display: block;" >
            <form method="post" id="userinfo_form" action="@Url.Action("SetInfo","User")">
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" name="email" required lay-verify="email" autocomplete="off" value="@Model.User.Email" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">如果您在邮箱已激活的情况下，变更了邮箱，需<a href="@Url.Action("activate","user")" style="font-size: 12px; color: #4f99cf;">重新验证邮箱</a>。</div>
            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" id="NickName" name="NickName" required lay-verify="required" autocomplete="off" value="@Model.User.NickName" class="layui-input">
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="radio" name="sex" value="1" @(Model.User.Sex == 1 ? "checked" : "") title="男">
                        <input type="radio" name="sex" value="2" @(Model.User.Sex == 2 ? "checked" : "") title="女">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">居住地区</label>
                <div class="layui-input-inline">
                    <select name="province" lay-filter="province" >
                        <option value="">请选择省</option>
                    </select>
                </div>
                <div class="layui-input-inline" >
                    <select name="city" lay-filter="city" >
                        <option value="">请选择市</option>
                    </select>
                </div>
                <div class="layui-input-inline" >
                    <select name="area" lay-filter="area" >
                        <option value="">请选择县/区</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label for="L_sign" class="layui-form-label">签名</label>
                <div class="layui-input-block">
                    <textarea placeholder="随便写些什么刷下存在感" id="PersonalityIntroduce" name="PersonalityIntroduce" autocomplete="off" class="layui-textarea" style="height: 80px;">@(Model.UserOther != null ? Model.UserOther.PersonalityIntroduce : "")</textarea>
                </div>
            </div>
                <div class="layui-form-item">
                    <input type="hidden" name="Id" value="@Model.User.Id"/>
                    <button class="layui-btn" lay-filter="*" alert="true"  lay-submit>确认修改</button>
                </div>
           </form>
        </div>

        <div class="layui-form layui-form-pane mine-view">
            <div class="layui-form-item">
                <div class="avatar-add">
                    @*<p>建议尺寸168*168，支持jpg、png、gif，最大不能超过30KB</p>*@
                        <img id="uploadavatarimg" src="@(Tools.GenerateAvatar(Model.User.Avatar, Model.User.Sex))">
                    @*<img src="@HGShare.Site.Tools.GenerateAvatar(Model.User.Avatar,Model.User.Sex)">*@
                </div>
                <div class="avatar-preview-boxs">
                    <div class="avatar-preview" style="width: 120px;height:120px">

                    </div>
                    <div class="avatar-preview" style="width: 80px;height:80px">

                    </div>
                    <div class="avatar-preview" style="width: 50px;height:50px">

                    </div>
                </div>
                </div>
            <div class="layui-form-item">
                <div class="layui-box layui-upload-button">
                    <input id="selectimg" type="file" name="file" id="LAY-file" lay-title="选择头像">
                    <span class="layui-upload-icon"><i class="layui-icon">&#xe608;</i>选择头像</span>
                </div>
                <button class="layui-btn" id="uploadavatarbtn">确认修改</button>
            </div>
        </div>

        <div class="layui-form layui-form-pane mine-view">
            <form action="@Url.Action("SetPassword","User")" method="post">
                <div class="layui-form-item">
                    <label for="L_nowpass" class="layui-form-label">当前密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="oldPassword" name="oldPassword" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux"><a href="@Url.Action("forgetpassword","user")">忘记密码？</a></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="Password" name="Password" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="hidden" name="Id" value="@Model.User.Id" />
                    <button class="layui-btn" key="set-mine" lay-filter="*" alert="true" lay-submit>确认修改</button>
                </div>
            </form>
        </div>

        @*<div class="layui-form layui-form-pane mine-view">
            <ul class="app-bind">
                <li class="fly-msg  {{user.qq_id ? 'app-havebind' :''}}">
                    <i class="iconfont icon-qq"></i>
                    <span>已成功绑定，您可以使用QQ帐号直接登录Fly社区，当然，您也可以</span>
                    <a href="javascript:;" class="acc-unbind" type="qq_id">解除绑定</a>

                    <!-- <a href="" onclick="layer.msg('正在绑定微博QQ', {icon:16, shade: 0.1, time:0})" class="acc-bind" type="qq_id">立即绑定</a>
                        <span>，即可使用QQ帐号登录Fly社区</span> -->
                </li>
                <li class="fly-msg {{user.weibo_id ? 'app-havebind' :''}}">
                    <i class="iconfont icon-weibo"></i>
                    <!-- <span>已成功绑定，您可以使用微博直接登录Fly社区，当然，您也可以</span>
                        <a href="javascript:;" class="acc-unbind" type="weibo_id">解除绑定</a> -->

                    <a href="" class="acc-weibo" type="weibo_id" onclick="layer.msg('正在绑定微博', {icon:16, shade: 0.1, time:0})">立即绑定</a>
                    <span>，即可使用微博帐号登录Fly社区</span>
                </li>
            </ul>
        </div>*@
    </div>
</div>
@section script_header
{
    <!--头像上传插件-->
    <link href="@Url.StaticFile("~/res/plugins/cropper/cropper.min.css")" rel="stylesheet" />
}
@section main_back_Script
{
    <script type="text/javascript">
        layui.use(['formsubmit','userset','cityselect','uploadavatar'],function(){

            layui.cityselect.Init('userinfo_form',@Html.Raw(userPositionsCodes));

            layui.uploadavatar.Init('selectimg','uploadavatarbtn','uploadavatarimg','@Url.Action("UploadAvatar","User")',{},{},@HGShare.Site.Config.WebSysConfig.AvatarMaxSize);
        });
    </script>
    }


